:root{
  --white: #C3C9E9;
  --black: #131B23;
  --light-green: #90EE90;
  --light-red: #FF7F7F;
}

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,p, input{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  background-color: var(--black);
  display: flex;
  padding: 20px 50px;
}

.contents{
  display: flex;
  flex-grow: 1;
}

.nav{
  background-color: #d7dcf7;
  width: 25vw;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap:20px;
  color: var(--black);
}

.projects-list p{
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

.defaults p{
  font-weight: normal;
}

.projects-list p:hover{
  background-color: var(--white);
}

.add-projects{
  padding: 10px 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.add-projects:hover{
  background-color: var(--white);
}

.active{
  background-color: var(--white);
}


.tasks{
  display: flex;
  flex-direction: column;
  gap:20px;
  color: var(--black);
  flex-grow: 1;
  padding: 30px 100px;
}

.each-task{
  display: flex;
  align-items: center;
  padding: 15px 10px;
  gap:20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.each-task:hover{
  background-color: var(--white);
}

.grow{
  flex-grow: 1;
}

.done{
  width: 20px;
  height: 20px;
}

.title,.done,.time{
  cursor: pointer;
}

.add-tasks{
  padding: 15px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.add-tasks:hover{
  background-color: var(--white);
}

.input-field{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.input-field div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap:20px;
}

.yes, .no{
  flex-grow: 1;
  border: none;
  padding: 15px 10px;
  margin: 0;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.yes{
  background-color: var(--light-green);
}

.no{
  background-color: var(--light-red);
}


.input{
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

input:focus{
  outline: none;
}

button{
  -webkit-appearance: none;
}

/* FOOTER */


footer{
  font-weight: bold;
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: normal;
}
